@model WebApplication1.Models.Dinner
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><strong>Not Found</strong></h2>

<p> Sorry - The dinner you requested doesn't exist or was deleted</p> 


